@media only screen and (max-width: 1190px) {

	.row {
		padding: 0 2%;
	}

	.header .row > .left {
	    width: 11%;
	}

	.header .row > .right {
	    width: 89%;
	}

	.header .right .left:nth-child(1) {
	    width: 25%;
	}

	.header .right .left:nth-child(2) {
	    width: 43%;
	}

	.header .right .right {
	    width: 32%;
	    padding-top: 10px;
	}

	.list_1 {
	    margin: 0 -10px;
	}

	.list_1 li {
	    padding: 3px 10px;
	}

	.list_1 li a {
	    font-size: 15px;
	    line-height: 26px;
	}

	.green_pill {
	    padding: 8px 10px;
	    font-size: 16px;
	    line-height: 24px;
	}

	.header .black_link_2 {
	    font-size: 13px;
	}

	/*-- Section 1 - Main Page --*/

	.right_position {
	    width: 85%;
	}

	/*-- /Section 1 - Main Page --*/

	.news_slider_wrapp {
	    margin: 14px auto;
	}

	.footer_section {
	    padding-bottom: 20px;
	}

	.footer_section .col {
		text-align: center;
	}

	.footer_section .col:nth-child(1) {
	    width: 33.33%;
	    padding-left: 0;
	}

	.footer_section .col:nth-child(2) {
	    width: 33.33%;
	}

	.footer_section .col:nth-child(3) {
	    width: 33.33%;
	    padding-right: 0;
	}

	.footer_section .col:nth-child(4) {
	    width: 33.33%;
	    padding-left: 0;
	}

	.footer_section .col:nth-child(5) {
	    width: 33.33%;
	}

	.footer_section .col:nth-child(6) {
	    width: 33.33%;
	    text-align: center;
	}

}

@media only screen and (max-width: 1124px) {

	.section_2 {
	    padding: 63px 0 45px 0;
	}

	.promo-content .left {
	    width: 66%;
	}

	.promo-content .right {
	    width: 34%;
	}

	.step_2 {
	    width: 50%;
	}

	.step_2:nth-child(even) {
		padding-right: 0
	}

	.step_2:nth-child(even):after {
		display: none;
	}

	.step_2 .descript {
	    min-height: 120px;
	}

	.text_box .red_pill {
	    margin: 17px 0;
	}

}

@media only screen and (max-width: 1100px) {

	h1 {
	    font-size: 44px;
	    line-height: 59px;
	}

	.logo {
	    max-width: 49px;
	}

	.header .row > .left {
	    width: 15%;
	}

	.header .row > .right {
	    width: 85%;
	    padding-right: 80px;
	    position: relative;
	}

	.header .right .left:nth-child(1) {
	    width: 40%;
	}

	.header .right .left:nth-child(2) {
	    display: none;
	}

	.header .right .right {
	    width: 60%;
	    position: relative;
	}

	.respmenubtn {
	    display: inline-block;
	}

	.list_2 li a {
	    margin: 5px;
	}

	.main-nav_wrapp {
		display: none;
	}

	/*-- Section 1 - Main Page --*/

	.h1_wrapp p {
	    font-size: 21px;
	    line-height: 23px;
	}

	.add_info p {
	    padding: 10px 0;
	    line-height: 22px;
	    font-size: 21px;
	    color: rgba(30, 30, 30, .2);
	}

	.steps_thumbs {
	    margin: 6px -20px;
	}

	.step {
		padding: 10px 45px 10px 20px;
	}

	.step p {
	    font-size: 17px;
	    line-height: 24px;
	}

	.step:after {
		width: 53px;
		height: 14px;
		top: 22px;
		right: -11px;
	}

	.red_pill {
	    padding: 13px 20px;
	    font-size: 17px;
	}

	.green_pill_2 {
		padding: 13px 20px;
	    font-size: 17px;
	}

	/*-- /Section 1 - Main Page --*/

	.transparent_pill {
		padding: 13px 20px;
		font-size: 17px;
	}

	.transparent_red_pill {
		padding: 13px 20px;
		font-size: 17px;
	}

}

@media only screen and (max-width: 1024px) {

	.input_wrapp .col-1 {
	    padding-right: 4%;
	}

}

@media only screen and (max-width: 768px) {

	.header .row > .left {
	    width: 50%;
	    padding: 5px 10px 6px 0;
	}

	.header .row > .right {
	    width: 50%;
	}

	.header .right .left:nth-child(1) {
	    display: none;
	}

	.logo {
	    max-width: 31px;
	}

	.respmenubtn {
	    margin-top: 6px;
	}

	.promo-content {
		padding-top: 30px;
		text-align: center;
	}

	.right_position {
	    width: 100%;
	    padding-left: 0;
	    float: none;
	}

	.h1_wrapp {
		margin-bottom: 20px;
	}

	.promo-content .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0 0 0;
	}

	.promo-content .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0 0 0;
	}

	.add_info p {
	    padding: 5px 0;
	    line-height: 21px;
	    font-size: 19px;
	}

	.steps_thumbs {
		display: none;
	}

	.promo-content .red_pill,
	.promo-content .green_pill_2 {
		width: 100%;
		max-width: 280px;
		margin: 5px 0;
	}

	.section_3 {
	    padding: 35px 0 70px 0;
	}

	.thumb {
	    width: calc(50% - 20px);
	    margin: 6px 10px;
	}

	.thumb:nth-child(1),
	.thumb:nth-child(6) {
	    width: calc(50% - 20px);
	}

	.thumb:nth-child(1) .img-box {
	    height: 100px;
	}

	.thumb:nth-child(6) .img-box {
	    height: 100px;
	}

	.thumb p {
	    font-size: 12px;
	    line-height: 16px;
	}

	.news_slider_wrapp .slider_arrows {
	    bottom: -56px;
	}

	.form_wrapp {
	    max-width: 780px;
	    margin-bottom: 70px;
	}

	.scroll_box_sect {
	    padding: 20px 0;
	}

}

@media only screen and (max-width: 700px) {

	.input_wrapp {
	    display: block;
	}

	.input_wrapp .col-1 {
		display: block;
	    width: 100%;
	    padding: 0 0 10px 0;
	}

	.input_wrapp .col-2 {
		display: block;
	    width: 100%;
	    padding: 0;
	}

}

@media only screen and (max-width: 600px) {

	.two-cols_2 .left {
	    width: 100%;
	    float: none;
	    padding: 0 0 20px 0;
	}

	.two-cols_2 .right {
	    width: 100%;
	    float: none;
	    padding: 20px 0 0 0;
	}

	.user_info {
	    margin: 0 0 13px 0;
	}

	.user_info .p-2 {
	    font-size: 18px;
	}

}

@media only screen and (max-width: 590px) {

	.footer_section .col:nth-child(1) {
	    width: 50%;
	}

	.footer_section .col:nth-child(2) {
	    width: 50%;
	    padding-right: 0;
	}

	.footer_section .col:nth-child(3) {
	    width: 50%;
	}

	.footer_section .col:nth-child(4) {
	    width: 50%;
	    padding-right: 0;
	}

	.footer_section .col:nth-child(5) {
	    width: 50%;
	}

	.footer_section .col:nth-child(6) {
	    width: 50%;
	}

}

@media only screen and (max-width: 575px) {

	.popup_article img {
		display: block;
	    float: none;
	    margin: 20px auto;
	}

}

@media only screen and (max-width: 480px) {

	h1 {
		font-size: 34px;
		line-height: 49px;
	}

	h2 {
		text-align: center;
	    font-size: 27px;
	    line-height: 39px;
	}

	.row {
		padding: 0 3%;
	}

	.h1_wrapp p {
	    font-size: 19px;
	    line-height: 23px;
	}

	.step_2:after {
	    right: 19px;
	}

	.text_box p {
	    font-size: 16px;
	    line-height: 24px;
	}

	.text_box p a {
	    font-size: 16px;
	    line-height: 24px;
	}

	.popup {
	    padding: 20px 10px;
	}

	.h2-desc {
		text-align: center;
	    font-size: 17px;
	}

	.submit_wrapp .green_pill_2,
	.submit_wrapp .transparent_pill,
	.submit_wrapp .transparent_red_pill {
		width: 100%;
	}

	.thanks_desc {
	    margin-bottom: 20px;
	}

	.thanks_desc p {
	    font-size: 17px;
	    line-height: 25px;
	}

	.footer_section .col:nth-child(1) {
	    width: 100%;
	    padding-right: 0;
	}

	.footer_section .col:nth-child(2) {
	    width: 100%;
	    padding-left: 0;
	}

	.footer_section .col:nth-child(3) {
	    width: 100%;
	    padding-left: 0;
	}

	.footer_section .col:nth-child(4) {
	    width: 100%;
	}

	.footer_section .col:nth-child(5) {
	    width: 100%;
	   	padding-top: 8px;
	    padding-left: 0;
	    padding-right: 0;
	}

	.footer_section .col:nth-child(6) {
	    width: 100%;
	    padding-left: 0;
	}

	.popup_3 {
	    padding-top: 70px;
	}

	.popup h2 {
	    text-align: center;
	    font-size: 25px;
	}

	.two-cols_3 {
	    margin: 10px 0 0 0;
	}

	.two-cols_3 .green_pill_2,
	.two-cols_3 .red_pill {
	    width: 100%;
	}
	
}

@media only screen and (max-width: 450px) {

	.step_2 {
	    width: 100%;
	    padding: 10px 0 20px 0;
	    text-align: center;
	}

	.step_2:after {
	    display: none;
	}

	.step_2 .descript {
	    min-height: auto;
	    padding-bottom: 20px;
	}

	.step_2 .img-box img {
	    height: 110px;
	}

	.step_2 .img-box img {
	    margin: 0 auto;
	}

	.input_inner_3 {
		display: block;
		font-size: 0;
		line-height: 0;
	}

	.input_inner_3 .col {
	    display: inline-block;
	    width: 50%;
	}

	.input_inner_3 .col:nth-child(2) {
		padding-left: 5px;
	    padding-right: 0;
	}

	.input_inner_3 .col:nth-child(3) {
	    padding-left: 0;
	    padding-right: 5px;
	}

	.upload_wrapp {
	    width: calc(50% - 5px);
	    margin: 5px 0;
	}

	.order-two_cols {
		display: block;
	}

	.order-two_cols .col:nth-child(1) {
		display: block;
	    width: 100%;
	    padding: 3px 0 5px 0;
	}

	.order-two_cols .col:nth-child(2) {
		display: block;
	    width: 100%;
	    padding: 3px 0 5px 0;
	}

	.thanks_desc .green_pill_2 {
	    min-width: 100%;
	}

	.order {
	    padding: 18px 15px 29px 15px;
	}

	.footer_section .col:nth-child(1) p {
	    font-size: 14px;
	    line-height: 22px;
	}

	.footer_section .col:nth-child(1) p a {
	    font-size: 14px;
	    line-height: 22px;
	}

}

@media only screen and (min-width: 1101px) {

	.main-nav_wrapp {
		display: none !important;
	}

}